@charset "UTF-8";

/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(assets/carroça.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h1, h2, h3, h4, h5 {
    color: #000;
}

p, label {
    color: #000;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
    background-color: transparent;
    border: none;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textare:focus {
    border-color: transparent;
    outline: none;
}

textarea {
    padding: 10px 5px;
}

/* PAGE HEADER */

.header {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #fdfdfdc2;
}

.header > h3 {
    color: #000;
    margin: 10px 0px;
    text-align: center;
    font-size: 1.6em;
}

/* FORM CONTAINER */
.form-container {
    background-color: #fdfdfde7;
    width: 60%;
    margin: 0 auto; /* CENTRALIZANDO */
    position: relative;
    border-radius: 50px;
}

/* FORM HEADER*/
.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header > p {
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* FORM BODY*/
.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body > p {
    margin-bottom: 20px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-box > p {
    margin-bottom: 10px;
}

.optional-list > li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input > p {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 35px;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #673ab7;
    color: #673ab7;
}